*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
:root{
    --black-color: black;
    --grey-color: #333333;
    --sec-gray-color: #555555;
    --white-color: #FFFFFF;
    --light-gray: #D3D3D3;
    --deep-navy-blue: #1E3A8A;
}
body{
    font-family: Merriweather, Poppins, sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #FFFFFF);
    color: var(--grey-color);
}
h1{
    font-size: 2rem;
    text-align: center;
    color: var(--deep-navy-blue);
    margin: 50px 0;
}
.form{
    margin: 10px auto;
    width: 600px;
    max-width: 800px;
}
.form label{
    margin-right: 20px;
}
.form input{
    margin-right: 20px;
    font-size: 1rem;
    padding: 10px;
    width: 350px;
    outline: none;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}
.form button{
    width: 60px;
    cursor: pointer;
    padding: 11px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    background-color: #4682B4;
    color: var(--white-color);
    transition: opacity 0.3s ease-in-out;
}
button:hover{
    opacity: .8;
}
.weather-headers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 10px;
    margin: 10px auto;
}
.weather-headers div{
    width: 250px;
    font-size: 1.1rem;
    text-align: center;
    color: var(--sec-gray-color)

}
.weather-data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap: 10px;
    margin: 10px auto;

}
.weather-data div{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--light-gray);
    box-shadow: 4px 4px 10px var(--light-gray);
    font-size: 1rem;
    color: black;
    text-align: center;
    line-height: 50px;
    background-color: whitesmoke;
}

.loading {
    visibility: hidden;  /* Hides it without removing space */
    opacity: 0;          /* Makes it fully transparent */
    transition: opacity 0.3s ease-in-out; /* Smooth fade effect */
    text-align: center;
    font-size: 1.5rem;
    height: 40px;  /* Set a fixed height to reserve space */
    line-height: 40px;
}

.loading::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.locality{
    text-align: center;
    height: 40px;
    font-size: 1rem;
    color: var(--sec-gray-color);
    margin: 10px 0;
}